<center><h1 style="font-size:2em;color:#2467C0"> Pandas y GLOB  </h1></center>

<center><h2 style="font-size:2em;color:#840700">   Manipulación de archivos con GLOB </h4></center>


La función **glob.glob()** devuelve una lista con las entradas que coincidan con el patrón especificado en *pathname*.

**glob.glob( *pathname* , recursive=False)** 
    
<br>
</td>
</tr>
</table>

## Integrantes

Nombre 1:

Nombre 2:

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

## Mostrando todos los archivos de "/datos"

La salida serán los archivos en forma de lista

In [2]:
# establecer ruta de búsqueda  
path = 'datos'
files = glob.glob(path + '/*')
files

['datos\\informacion.txt',
 'datos\\semestre1a.csv',
 'datos\\semestre1b.csv',
 'datos\\semestre1c.csv',
 'datos\\semestre2a.csv',
 'datos\\semestre2b.csv',
 'datos\\semestre2c.csv',
 'datos\\semestre3a.csv',
 'datos\\semestre3b.csv',
 'datos\\semestre3c.csv',
 'datos\\semestres.txt',
 'datos\\Ventas']

## Mostrando  los archivos  **.txt** de "/datos"

La salida serán los archivos .txt en forma de lista

In [3]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos txt  
path = 'datos'
files = glob.glob(path + '/*.txt')
files

['datos\\informacion.txt', 'datos\\semestres.txt']

## Mostrando  los archivos .csv de "/datos"

La salida serán los archivos .csv en forma de lista

In [4]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
files

['datos\\semestre1a.csv',
 'datos\\semestre1b.csv',
 'datos\\semestre1c.csv',
 'datos\\semestre2a.csv',
 'datos\\semestre2b.csv',
 'datos\\semestre2c.csv',
 'datos\\semestre3a.csv',
 'datos\\semestre3b.csv',
 'datos\\semestre3c.csv']

## Concatenando todos los archivos .csv para formar un dataframe

In [5]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
#print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]

# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs.append(temp_df)

# concatenación
df=pd.concat(lista_dfs,axis=0)
df

     NOMBRE   APELLIDO  CALIFICACION      CARRERA    CIUDAD
0   ENRIQUE     MORENO            40   RENOVABLES    MERIDA
1    AMPARO  CABALLERO            63   RENOVABLES    MERIDA
2     MARTA      BALAM            94  MECATRONICA    MERIDA
3     JULIA      ORTIZ            86   RENOVABLES      UMAN
4   PASCUAL        MAY            58       FISICA    MERIDA
..      ...        ...           ...          ...       ...
0    ISABEL       RUIZ            89  MECATRONICA    MERIDA
1    MARTIN       CANO            99       FISICA     TICUL
2      RICK    SANCHEZ           100       FISICA    MERIDA
3     CARLA   MORRISON            94       FISICA  PROGRESO
4     PEDRO      MARIN            98  MECATRONICA    MERIDA

[69 rows x 5 columns]

## Concatenando los archivos .csv del primer semestre 

El comodín * representa desde nada, hasta cualquier cantidad de caracteres y dígitos

In [6]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre1?.csv')

# crear una lista vacía para almacenar  los dataframes
lista_dfs2=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs2.append(temp_df)

# concatenación
df=pd.concat(lista_dfs2,axis=0)
df

       NOMBRE   APELLIDO  CALIFICACION      CARRERA    CIUDAD
0     ENRIQUE     MORENO            40   RENOVABLES    MERIDA
1      AMPARO  CABALLERO            63   RENOVABLES    MERIDA
2       MARTA      BALAM            94  MECATRONICA    MERIDA
3       JULIA      ORTIZ            86   RENOVABLES      UMAN
4     PASCUAL        MAY            58       FISICA    MERIDA
5       PEDRO      GOMEZ            85       FISICA    MERIDA
6     ENRIQUE        GIL            89  MECATRONICA  PROGRESO
7       PEDRO    ALARCON            99   RENOVABLES   KANASIN
8         ANA  HERNANDEZ            89       FISICA   KANASIN
9      MANUEL   GONZALEZ            92       FISICA  PROGRESO
0    CRISTINA     VALERO            84  MECATRONICA    MERIDA
1        JUAN      BALAM           100       FISICA     MOTUL
2       LUCIA    SERRANO            60       FISICA    MERIDA
3       PILAR        GIL            88   RENOVABLES     MOTUL
4      ALICIA      BALAM            85   RENOVABLES    MERIDA
5      MANUEL    RODENAS            12   RENOVABLES    MERIDA
6       LUCIA  CABALLERO            85  MECATRONICA    MERIDA
7   ASCENSION         EK            86  MECATRONICA      UMAN
8        RAUL     TORRES            52  MECATRONICA    MERIDA
9       JESUS  FERNANDEZ            60  MECATRONICA    MERIDA
10     RAQUEL     CUENCA            82  MECATRONICA    MERIDA
0      ISMAEL     LOZANO            98  MECATRONICA    MERIDA
1       ROCIO   BLAZQUEZ            82   RENOVABLES    MERIDA
2        ROSA      TEBAR            75  MECATRONICA    MERIDA
3     MANUELA     ORTEGA            95  MECATRONICA    MERIDA
4       MARIA   MARTINEZ            95       FISICA    MERIDA
5       MARIA       CANO            92       FISICA  PROGRESO
6      JOSEFA      LOPEZ            98  MECATRONICA    MERIDA
7        LUIS     ALFARO            65       FISICA    MERIDA
8     ALBERTO      PEREZ            63  MECATRONICA    MERIDA
9   FRANCISCO       PECH            96       FISICA    MERIDA
10        ANA    NAVARRO            59  MECATRONICA    MERIDA

## Concatenando los archivos .csv del primer y segundo semestre 

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [7]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre[1-2]?.csv')

# crear una lista vacía para almacenar  los dataframes
lista_dfs3=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs3.append(temp_df)

# concatenación
df=pd.concat(lista_dfs3,axis=0)
df

       NOMBRE   APELLIDO  CALIFICACION      CARRERA    CIUDAD
0     ENRIQUE     MORENO            40   RENOVABLES    MERIDA
1      AMPARO  CABALLERO            63   RENOVABLES    MERIDA
2       MARTA      BALAM            94  MECATRONICA    MERIDA
3       JULIA      ORTIZ            86   RENOVABLES      UMAN
4     PASCUAL        MAY            58       FISICA    MERIDA
5       PEDRO      GOMEZ            85       FISICA    MERIDA
6     ENRIQUE        GIL            89  MECATRONICA  PROGRESO
7       PEDRO    ALARCON            99   RENOVABLES   KANASIN
8         ANA  HERNANDEZ            89       FISICA   KANASIN
9      MANUEL   GONZALEZ            92       FISICA  PROGRESO
0    CRISTINA     VALERO            84  MECATRONICA    MERIDA
1        JUAN      BALAM           100       FISICA     MOTUL
2       LUCIA    SERRANO            60       FISICA    MERIDA
3       PILAR        GIL            88   RENOVABLES     MOTUL
4      ALICIA      BALAM            85   RENOVABLES    MERIDA
5      MANUEL    RODENAS            12   RENOVABLES    MERIDA
6       LUCIA  CABALLERO            85  MECATRONICA    MERIDA
7   ASCENSION         EK            86  MECATRONICA      UMAN
8        RAUL     TORRES            52  MECATRONICA    MERIDA
9       JESUS  FERNANDEZ            60  MECATRONICA    MERIDA
10     RAQUEL     CUENCA            82  MECATRONICA    MERIDA
0      ISMAEL     LOZANO            98  MECATRONICA    MERIDA
1       ROCIO   BLAZQUEZ            82   RENOVABLES    MERIDA
2        ROSA      TEBAR            75  MECATRONICA    MERIDA
3     MANUELA     ORTEGA            95  MECATRONICA    MERIDA
4       MARIA   MARTINEZ            95       FISICA    MERIDA
5       MARIA       CANO            92       FISICA  PROGRESO
6      JOSEFA      LOPEZ            98  MECATRONICA    MERIDA
7        LUIS     ALFARO            65       FISICA    MERIDA
8     ALBERTO      PEREZ            63  MECATRONICA    MERIDA
9   FRANCISCO       PECH            96       FISICA    MERIDA
10        ANA    NAVARRO            59  MECATRONICA    MERIDA
0    CONSUELO       PECH            83   RENOVABLES    MERIDA
1       ELENA   CASTILLO            73  MECATRONICA    MERIDA
2      JAVIER      PEREZ            57   RENOVABLES    MERIDA
3     ANGELES       DIAZ            80  MECATRONICA    MERIDA
4       MARIO    RAMIREZ            89       FISICA    MERIDA
5       PILAR    SERRANO            87   RENOVABLES   KANASIN
6      MIGUEL    JIMENEZ            80   RENOVABLES    MERIDA
0        ROSA   MORCILLO            93  MECATRONICA    MERIDA
1        JUAN     ARENAS            47       FISICA    MERIDA
2      DANIEL     ROMERO            98   RENOVABLES    MERIDA
3      RAFAEL        MAY            87  MECATRONICA    MERIDA
4       PABLO     MOLINA            86  MECATRONICA    MERIDA
5       MARIA      MARIN            86       FISICA    MERIDA
6       MARIA     GARCIA            96       FISICA    MERIDA
0      ALVARO      ORTIZ            89  MECATRONICA    MERIDA
1      ISABEL    SANCHEZ            96   RENOVABLES    MERIDA
2         ANA    ALARCON            84       FISICA  PROGRESO
3       ANGEL   MORCILLO            98  MECATRONICA    MERIDA
4       JESUS     ORTEGA            74  MECATRONICA    MERIDA
5       RAMON    GARRIDO            87  MECATRONICA     MOTUL
6     VICENTE  CABALLERO             8  MECATRONICA    MERIDA

## Concatenando los archivos .csv de los grupos "a"
El comodín **?** Representa un único carácter.

In [8]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?a.csv')

# crear una lista vacía para almacenar  los dataframes
lista_dfs4=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs4.append(temp_df)

# concatenación
df=pd.concat(lista_dfs4,axis=0)
df

     NOMBRE   APELLIDO  CALIFICACION      CARRERA    CIUDAD
0   ENRIQUE     MORENO            40   RENOVABLES    MERIDA
1    AMPARO  CABALLERO            63   RENOVABLES    MERIDA
2     MARTA      BALAM            94  MECATRONICA    MERIDA
3     JULIA      ORTIZ            86   RENOVABLES      UMAN
4   PASCUAL        MAY            58       FISICA    MERIDA
5     PEDRO      GOMEZ            85       FISICA    MERIDA
6   ENRIQUE        GIL            89  MECATRONICA  PROGRESO
7     PEDRO    ALARCON            99   RENOVABLES   KANASIN
8       ANA  HERNANDEZ            89       FISICA   KANASIN
9    MANUEL   GONZALEZ            92       FISICA  PROGRESO
0  CONSUELO       PECH            83   RENOVABLES    MERIDA
1     ELENA   CASTILLO            73  MECATRONICA    MERIDA
2    JAVIER      PEREZ            57   RENOVABLES    MERIDA
3   ANGELES       DIAZ            80  MECATRONICA    MERIDA
4     MARIO    RAMIREZ            89       FISICA    MERIDA
5     PILAR    SERRANO            87   RENOVABLES   KANASIN
6    MIGUEL    JIMENEZ            80   RENOVABLES    MERIDA
0      JUAN    CEBRIAN            85       FISICA    MERIDA
1      JOSE    COLLADO            96       FISICA  PROGRESO
2   ANTONIA  RODRIGUEZ            83   RENOVABLES    MERIDA
3      LUIS      PEREZ            70  MECATRONICA     MOTUL
4  FERNANDO    CAMACHO            90   RENOVABLES    MERIDA

## Concatenando los archivos .csv de los grupos "a" y "b"

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [9]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?[a-b].csv')

# crear una lista vacía para almacenar  los dataframes
lista_dfs5=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs5.append(temp_df)

# concatenación
df=pd.concat(lista_dfs5,axis=0)
df

       NOMBRE   APELLIDO  CALIFICACION      CARRERA    CIUDAD
0     ENRIQUE     MORENO            40   RENOVABLES    MERIDA
1      AMPARO  CABALLERO            63   RENOVABLES    MERIDA
2       MARTA      BALAM            94  MECATRONICA    MERIDA
3       JULIA      ORTIZ            86   RENOVABLES      UMAN
4     PASCUAL        MAY            58       FISICA    MERIDA
5       PEDRO      GOMEZ            85       FISICA    MERIDA
6     ENRIQUE        GIL            89  MECATRONICA  PROGRESO
7       PEDRO    ALARCON            99   RENOVABLES   KANASIN
8         ANA  HERNANDEZ            89       FISICA   KANASIN
9      MANUEL   GONZALEZ            92       FISICA  PROGRESO
0    CRISTINA     VALERO            84  MECATRONICA    MERIDA
1        JUAN      BALAM           100       FISICA     MOTUL
2       LUCIA    SERRANO            60       FISICA    MERIDA
3       PILAR        GIL            88   RENOVABLES     MOTUL
4      ALICIA      BALAM            85   RENOVABLES    MERIDA
5      MANUEL    RODENAS            12   RENOVABLES    MERIDA
6       LUCIA  CABALLERO            85  MECATRONICA    MERIDA
7   ASCENSION         EK            86  MECATRONICA      UMAN
8        RAUL     TORRES            52  MECATRONICA    MERIDA
9       JESUS  FERNANDEZ            60  MECATRONICA    MERIDA
10     RAQUEL     CUENCA            82  MECATRONICA    MERIDA
0    CONSUELO       PECH            83   RENOVABLES    MERIDA
1       ELENA   CASTILLO            73  MECATRONICA    MERIDA
2      JAVIER      PEREZ            57   RENOVABLES    MERIDA
3     ANGELES       DIAZ            80  MECATRONICA    MERIDA
4       MARIO    RAMIREZ            89       FISICA    MERIDA
5       PILAR    SERRANO            87   RENOVABLES   KANASIN
6      MIGUEL    JIMENEZ            80   RENOVABLES    MERIDA
0        ROSA   MORCILLO            93  MECATRONICA    MERIDA
1        JUAN     ARENAS            47       FISICA    MERIDA
2      DANIEL     ROMERO            98   RENOVABLES    MERIDA
3      RAFAEL        MAY            87  MECATRONICA    MERIDA
4       PABLO     MOLINA            86  MECATRONICA    MERIDA
5       MARIA      MARIN            86       FISICA    MERIDA
6       MARIA     GARCIA            96       FISICA    MERIDA
0        JUAN    CEBRIAN            85       FISICA    MERIDA
1        JOSE    COLLADO            96       FISICA  PROGRESO
2     ANTONIA  RODRIGUEZ            83   RENOVABLES    MERIDA
3        LUIS      PEREZ            70  MECATRONICA     MOTUL
4    FERNANDO    CAMACHO            90   RENOVABLES    MERIDA
0      EMILIO      BALAM            85       FISICA    MERIDA
1       JULIA    RODENAS            98       FISICA    MERIDA
2      DANIEL        MAY            98   RENOVABLES    MERIDA
3       RAMON        MAY            87  MECATRONICA    MERIDA
4       PEDRO     MOLINA            96  MECATRONICA    MERIDA
5       LUCIA   MARTINEZ            86       FISICA    MERIDA

# TAREA

<div class="alert alert-success">
<b>EJERCICIO 1: Concatenar todos los archivos  .csv  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>  
  <li> d) El nombre que más se repite </li>  
  <li> e) El apellido que más se repite </li>       
     
</ul>
</div>

In [10]:
path = 'datos'
files = glob.glob(path + '/*.csv')

In [11]:
lista_dfs6=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs6.append(temp_df)

# concatenación
df=pd.concat(lista_dfs6,axis=0)
df.head()

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  ENRIQUE     MORENO            40   RENOVABLES  MERIDA
1   AMPARO  CABALLERO            63   RENOVABLES  MERIDA
2    MARTA      BALAM            94  MECATRONICA  MERIDA
3    JULIA      ORTIZ            86   RENOVABLES    UMAN
4  PASCUAL        MAY            58       FISICA  MERIDA

In [12]:
#a) Encontrar el promedio y desviación estándar
df['CALIFICACION'].agg(['mean','std'])

mean    81.724638
std     18.723911
Name: CALIFICACION, dtype: float64

In [13]:
#b) Datos del estudiante(s) con la calificación más alta
df[df['CALIFICACION']==df['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
1   JUAN    BALAM           100  FISICA   MOTUL
2   RICK  SANCHEZ           100  FISICA  MERIDA

In [14]:
#c) Datos del estudiante(s) con la calificación más baja
df[df['CALIFICACION']==df['CALIFICACION'].min()]

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA

In [15]:
#d) El nombre que más se repite
df['NOMBRE'].value_counts(sort = True, ascending = False).head(2)

NOMBRE
PEDRO    4
MARIA    4
Name: count, dtype: int64

In [16]:
#e) El apellido que más se repite
df['APELLIDO'].value_counts(sort = True, ascending = False).head(2)

APELLIDO
BALAM    4
MAY      4
Name: count, dtype: int64

<div class="alert alert-success">
<b>EJERCICIO 2: Concatenar todos los archivos  .csv del primer semestre </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [17]:
path = 'datos'
files = glob.glob(path + '/semestre1?.csv')

# crear una lista vacía para almacenar  los dataframes
lista_dfs7=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs7.append(temp_df)

# concatenación
df=pd.concat(lista_dfs7,axis=0)
df.head()

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  ENRIQUE     MORENO            40   RENOVABLES  MERIDA
1   AMPARO  CABALLERO            63   RENOVABLES  MERIDA
2    MARTA      BALAM            94  MECATRONICA  MERIDA
3    JULIA      ORTIZ            86   RENOVABLES    UMAN
4  PASCUAL        MAY            58       FISICA  MERIDA

In [18]:
#a) Encontrar el promedio y desviación estándar
df['CALIFICACION'].agg(['mean','std'])

mean    78.343750
std     20.055744
Name: CALIFICACION, dtype: float64

In [19]:
#b) Datos del estudiante(s) con la calificación más alta 
df[df['CALIFICACION']==df['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA CIUDAD
1   JUAN    BALAM           100  FISICA  MOTUL

In [20]:
#c) Datos del estudiante(s) con la calificación más baja 
df[df['CALIFICACION']==df['CALIFICACION'].min()]

   NOMBRE APELLIDO  CALIFICACION     CARRERA  CIUDAD
5  MANUEL  RODENAS            12  RENOVABLES  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 3: Concatenar todos los archivos .csv de los grupos "c", es decir semestre1c, semestre2c y semestre3c </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [21]:
path = 'datos'
files = glob.glob(path + '/semestre?c.csv')

# crear una lista vacía para almacenar  los dataframes
lista_dfs8=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs8.append(temp_df)

# concatenación
df=pd.concat(lista_dfs8,axis=0)
df.head()

    NOMBRE  APELLIDO  CALIFICACION      CARRERA  CIUDAD
0   ISMAEL    LOZANO            98  MECATRONICA  MERIDA
1    ROCIO  BLAZQUEZ            82   RENOVABLES  MERIDA
2     ROSA     TEBAR            75  MECATRONICA  MERIDA
3  MANUELA    ORTEGA            95  MECATRONICA  MERIDA
4    MARIA  MARTINEZ            95       FISICA  MERIDA

In [22]:
#a) Encontrar el promedio y desviación estándar 
df['CALIFICACION'].agg(['mean','std'])

mean    84.086957
std     20.676981
Name: CALIFICACION, dtype: float64

In [23]:
#b) Datos del estudiante(s) con la calificación más alta 
df[df['CALIFICACION']==df['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
2   RICK  SANCHEZ           100  FISICA  MERIDA

In [24]:
#c) Datos del estudiante(s) con la calificación más baja 
df[df['CALIFICACION']==df['CALIFICACION'].min()]

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 4: Concatenar todos los archivos .csv de los semestres 2 y 3  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [25]:
path = 'datos'
files = glob.glob(path + '/semestre[2-3]?.csv')

# crear una lista vacía para almacenar  los dataframes
lista_dfs9=[]

for file in files:
    temp_df=pd.read_csv(file)
    lista_dfs9.append(temp_df)

# concatenación
df=pd.concat(lista_dfs9,axis=0)
df.head()

     NOMBRE  APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  CONSUELO      PECH            83   RENOVABLES  MERIDA
1     ELENA  CASTILLO            73  MECATRONICA  MERIDA
2    JAVIER     PEREZ            57   RENOVABLES  MERIDA
3   ANGELES      DIAZ            80  MECATRONICA  MERIDA
4     MARIO   RAMIREZ            89       FISICA  MERIDA

In [26]:
#a) Encontrar el promedio y desviación estándar 
df['CALIFICACION'].agg(['mean','std'])

mean    84.648649
std     17.230813
Name: CALIFICACION, dtype: float64

In [27]:
#b) Datos del estudiante(s) con la calificación más alta 
df[df['CALIFICACION']==df['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
2   RICK  SANCHEZ           100  FISICA  MERIDA

In [28]:
#c) Datos del estudiante(s) con la calificación más baja 
df[df['CALIFICACION']==df['CALIFICACION'].min()]

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA